.sombra{
    background-color:transparent;
    -webkit-box-shadow: 1px -19px 15px 15px rgba(0,0,0,0.28);
    -moz-box-shadow: 1px -19px 15px 15px rgba(0,0,0,0.28);
    box-shadow: 1px -19px 15px 15px rgba(0,0,0,0.28); 
}
.spacelogo{
    margin: 0%;
    padding: 0%;
}
.logo{
    width: 50%;
}
.imglogo{
    width: 150px;
    margin-top: 0%;
    margin-bottom: 0%;
}
.centarHorizontal{
    margin-left: auto;
    margin-right: auto;
}
.registro{
    width: 50%;
    text-align: right;
}
.btns{
    background-color: transparent;
    margin-right: 15px;
    border: transparent;
}
.marginRigth10px{
    margin-right: 100px;
}