<div class="banner">
    <div class="titulo">
        <p class="txt-b txt-titulo">La plataforma echa para ti <b>CODEPRO</b></p>
    </div>
</div>
<div class="container contenido2">
    <div class="row">
        <div class="col-xl-12 row justify-content-center">
            <h1 class="txt-l col-xl-10 somos"><b>CODEPRO</b> es una plataforma de desarrollo donde puedes crear tus modulos en cualquier
                lenguaje de programacion y poder gestionar tus archivos en la nube.
            </h1>
            <a href=""><p class="col-xl-12 somos txt-b">Registrate es <b>GRATIS</b></p></a>
        </div>
        <hr class="col-xl-12">
        <div class="lenguajes col-xl-12 row justify-content-center">
            <div class="logos row ">
                <div class="col-xl-3">
                    <img width="100px" src="../../../assets/img/logos/PHP.svg" alt="js">
                </div>
                <div class="col-xl-3 ">
                    <img width="100px" src="../../../assets/img/logos/C++.svg" alt="c++">
                </div>
                <div class="col-xl-3">
                    <img width="100px" src="../../../assets/img/logos/Java.svg" alt="java">
                </div>
                <div class="col-xl-3 ">
                    <img width="100px" src="../../../assets/img/logos/javascript.svg" alt="js">
                </div>
                <div class="col-xl-4">
                    <img width="100px" src="../../../assets/img/logos/HTML5.svg" alt="html5">
                </div>
                <div class="col-xl-4 ">
                    <img width="100px" src="../../../assets/img/logos/CSS3.svg" alt="c++">
                </div>
                <div class="col-xl-4">
                    <img width="100px" src="../../../assets/img/logos/Python.svg" alt="js">
                </div>
            </div>
            
            <div><p></p></div>
        </div>
        <hr class="col-xl-12">
    </div>
</div>
<div class="responsive">
</div>
<div class="contenedor-info">
    <div class="jumbotron col-xl-6 info">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>    
    <div class="jumbotron col-xl-6 info">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>    
</div>
<footer class="">
    Derechos Reservados CODEPRO 2018
</footer>