<div class="fondo">
  <div class="row">
    <!--div class="col-xl-6">
      <h1>Nos alegra tenerte por aqui de nuevo :D</h1>
    </div-->
    <div class="login col-xl-4">
      <form action="" class="formulario">
        <div class="col-xl-12 logo"><img width="200px" src="../../../assets/img/logo v1/login.png" alt=""></div>
        <input type="email" class="btn btn-transparente col-xl-10" placeholder="Username or Email">
        <input type="password" class="btn btn-transparente col-xl-10" placeholder="**********">
        <button class="btn btn-success ingresar col-xl-8">Iniciar Sesion</button>
        <hr class="col-xl-10">
        <p><a href="">Se te olvido la contraseña o correo?</a></p>
        <div class="col-xl-12 ">
          <button class="btn btn-facebook ingresar col-xl-5"><img width="20px" src="../../../assets/img/logos/FacebookIcon.svg" alt=""> Iniciar Sesion</button>
          <button class="btn btn-google ingresar col-xl-5">Iniciar Sesion</button>
        </div>
      </form>
    </div>  
  </div>
  
</div>
